@use '../variables';
@use '../mixins';




.projects-container{
    display: flex;

    max-width: 45rem;
}



.carrousel{
    scroll-behavior: smooth;
    text-align: center;

    display: flex; /* Certifique-se de que o carrossel use flexbox */
    overflow-x: auto; /* Adicione overflow-x: auto para permitir rolagem horizontal */
    width: 100%; /* Ocupa 100% da largura da div pai */
    gap: 20px;


    .item{
        @include mixins.center;
        padding: 1rem;
        border: 1px solid #333;
        width: 40%;
        flex: none;
        
        border-radius: variables.$card-border-radius;
        margin: 10px;
        gap: 10px;
        width: 280px;
        flex-direction: column;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


    }
    .info{

        display: flex;
        flex-direction: column;
        gap: .5rem;

        span{
            @include mixins.center;
            color: variables.$text-color;

            
        }

        .name{
            font-size: 1.3rem;
        }
        a{
            text-decoration: none;
            color: variables.$text-color-secondary;
        }
    }
    
}

.buttonsCarrousel{
    @include mixins.center;
    gap: .7rem;

    button{
        background: transparent;
        color: variables.$text-color;
        border: none;
        cursor: pointer;

    }
}

.carrousel::-webkit-scrollbar{
    display: none
}

@media (min-width: 1960px) {


    .projects-container{
        display: flex;
    
        max-width: 80rem;
    }
}