@use '../variables';
@use '../mixins';

.tecnologies-container{
    margin-bottom: 1rem;

    .tecnologies-grid{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .tecnologies-card{
            @include mixins.center;
            gap: 1rem;
            padding: 1rem;
            border: 1px solid #333;
            width: 45%;
            border-radius: variables.$card-border-radius;

        }
    }
}