@use 'variables';

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn{
    padding: 1rem 1.2rem;
    color: variables.$text-color;
    background: variables.$gradrient;
    text-decoration: none;
    border-radius: 3rem;
}

@mixin gradient-border{
    content: "";
    background: variables.$gradrient;
    height: 3px;
    width: 30%;
}